doctype html
html(lang= 'en')
  head
    title Welcome
    meta(name='viewport', content='width=device-width, initial-scale=1', charset="utf-8" )
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
  body
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Irrigation Control and Monitoring
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          if user
            li(class=(title == 'Members' ? 'active' : ''))
              a(href="/") Console
          if !user
            li(class=(title == 'Register' ? 'active' : ''))
              a(href="/users/register") Register
            li(class=(title == 'Login' ? 'active' : ''))
              a(href="/users/login") Login
        ul.nav.navbar-nav.navbar-right
          if user
            li
              a(href="/users/logout") Logout
    .container
      != messages()
      block content

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')