<div class="card text-center">
    <div class="card-header bg-dark text-light">Live Soil Data Analysis</div>
    <div class="card-body bg-light">
        <div class="row">
            <div class="col">
            <iframe width="280" height="260" style="border: 1px solid #cccccc;" id="iframe1" src="https://thingspeak.com/channels/687385/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Soil+Data&type=line&xaxis=Time+Stamp&yaxis=Moisture+in+%25"></iframe>
            </div>
        </div>
    </div>
</div>
<br>

<div class="card text-center">
    <div class="card-header bg-dark text-light">Live Light Data Analysis</div>
    <div class="card-body bg-light">
        <iframe width="280" height="260" style="border: 1px solid #cccccc;" id="iframe2" src="https://thingspeak.com/channels/687385/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Light+Data&type=line&xaxis=Time+stamp&yaxis=Intensity+in+%25&yaxismax=100&yaxismin=0"></iframe>
    </div>
</div>
<br>

<div class="card text-center">
    <div class="card-header bg-dark text-light">2D-Histogram of the soil data</div>
    <div class="card-body bg-light">
        <iframe width="280" height="260" style="border: 1px solid #cccccc;" id="iframe3" src="https://thingspeak.com/apps/matlab_visualizations/273144"></iframe>
    </div>
</div>
<br>