<div class="card" id="card">
    <div class="card-header bg-dark text-light text-center">Recorded Sensor Data Analysis</div>
    <div class="card-body">
    <canvas class="chart chart-line" chart-data="data1" chart-labels="labels1" chart-series="series1" chart-options="options1" chart-dataset-override="datasetOverride1" chart-click="onClick1"></canvas>
    </div>
</div>

<br>

<div class="card">
    <div class="card-header bg-dark text-light text-center">Recorded Weather Data Analysis</div>
    <div class="card-body">
    <canvas id="line" class="chart chart-line" chart-data="data2" chart-labels="labels2" chart-series="series2" chart-options="options2" chart-dataset-override="datasetOverride2" chart-click="onClick2"></canvas>
</div>
</div>

<br>